In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [5]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [6]:
movies = movies.merge(credits,on="title")

In [7]:
movies.shape

(4809, 23)

In [8]:
movies = movies[['title' , 'movie_id', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [9]:
movies.isnull().sum()

title       0
movie_id    0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

0

In [12]:
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [13]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [14]:
movies['genres'] = movies['genres'].apply(convert)

In [15]:
movies.head()

,title,movie_id,overview,genres,keywords,cast,crew
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,49529,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
movies['keywords'] = movies['keywords'].apply(convert)

In [17]:
movies.head()

,title,movie_id,overview,genres,keywords,cast,crew
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,49529,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
        else:
            break;
    return L

In [19]:
movies['cast'] = movies['cast'].apply(convert3)

In [20]:
movies.head()

,title,movie_id,overview,genres,keywords,cast,crew
0,Avatar,19995,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,Pirates of the Caribbean: At World's End,285,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,Spectre,206647,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,The Dark Knight Rises,49026,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,John Carter,49529,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [21]:
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'director':
            L.append(i['name'])
    return L

In [22]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [23]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [24]:
movies.head()

,title,movie_id,overview,genres,keywords,cast,crew
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...",[]
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[]
2,Spectre,206647,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...",[]
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...",[]
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...",[]

In [25]:
movies['genres'] = movies['genres'].apply(lambda x : [i.replace(" ", "") for i in x])

In [26]:
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(" ", "") for i in x])

In [27]:
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(" ", "") for i in x])

In [28]:
movies['cast'] = movies['cast'].apply(lambda x : [i.replace(" ", "") for i in x])

In [29]:
movies['tag'] = movies['overview'] + movies['cast'] + movies['crew'] + movies['keywords']

In [30]:
movies.head()

,title,movie_id,overview,genres,keywords,cast,crew,tag
0,Avatar,19995,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver, ...",[],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,Pirates of the Caribbean: At World's End,285,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley, Ste...",[],"[Captain, Barbossa,, long, believed, to, be, d..."
2,Spectre,206647,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux, Ralp...",[],"[A, cryptic, message, from, Bond’s, past, send..."
3,The Dark Knight Rises,49026,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman, Anne...",[],"[Following, the, death, of, District, Attorney..."
4,John Carter,49529,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton, Wi...",[],"[John, Carter, is, a, war-weary,, former, mili..."

In [31]:
new_df = movies[['movie_id' , 'title' , 'tag']]

In [32]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [33]:
new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

C:\Users\Acer\AppData\Local\Temp\ipykernel_5976\2796727027.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

In [34]:
new_df['tag'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. SamWorthington ZoeSaldana SigourneyWeaver StephenLang MichelleRodriguez GiovanniRibisi JoelDavidMoore CCHPounder WesStudi LazAlonso DileepRao MattGerald SeanAnthonyMoran JasonWhyte ScottLawrence KellyKilgour JamesPatrickPitt SeanPatrickMurphy PeterDillon KevinDorman KelsonHenderson DavidVanHorn JacobTomuri MichaelBlain-Rozgay JonCurry LukeHawker WoodySchultz PeterMensah SoniaYee JahnelCurfman IlramChoi KylaWarren LisaRoumain DebraWilson ChrisMala TaylorKibby JodieLandau JulieLamm CullenB.Madden JosephBradyMadden FrankieTorres AustinWilson SaraWilson TamicaWashington-Miller LucyBriant NathanMeister GerryBlair MatthewChamberlain PaulYates WrayWilson JamesGaylyn MelvinLenoClarkIII CarvonFutrell BrandonJelkes MicahMoch HanniyahMuhammad ChristopherNolen ChristaOliver AprilMarieThomas BravitaA.Threatt ColinBleasdale MikeBodnar MattClayton NicoleDionne JamieHarrison AllanHenry AnthonyIngruber AshleyJeffery DeanKnowsley JosephMika-Hunt TerryNotary KaiPantano LoganPithyou StuartPollock Raja GarethRuck RhianSheehan T.J.Storm JodieTaylor AliciaVela-Bailey RichardWhiteside NikieZambo JuleneRenee cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d'

In [35]:
new_df['tag'] = new_df['tag'].apply(lambda x: x.lower())

C:\Users\Acer\AppData\Local\Temp\ipykernel_5976\3706803269.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x: x.lower())

In [36]:
new_df.head()

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [38]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [39]:
vectors.shape

(4806, 5000)

In [40]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\acer\.conda\envs\rl_course\lib\site-packages (3.8.1)
Requirement already satisfied: joblib in c:\users\acer\.conda\envs\rl_course\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in c:\users\acer\.conda\envs\rl_course\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\acer\.conda\envs\rl_course\lib\site-packages (from nltk) (2023.8.8)
Requirement already satisfied: click in c:\users\acer\.conda\envs\rl_course\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: colorama in c:\users\acer\.conda\envs\rl_course\lib\site-packages (from click->nltk) (0.4.6)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)

In [41]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [42]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [43]:
new_df['tag'] = new_df['tag'].apply(stem)

C:\Users\Acer\AppData\Local\Temp\ipykernel_5976\4074900442.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(stem)

In [44]:
cv.get_feature_names()

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_names'

In [45]:
from sklearn.metrics.pairwise import cosine_similarity

In [46]:
similarity = cosine_similarity(vectors)

In [47]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999997),
 (1, 0.0),
 (2, 0.0),
 (3, 0.017806114244894068),
 (4, 0.10012523486435178),
 (5, 0.03993615319154359),
 (6, 0.0),
 (7, 0.044151078568834795),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.02666903735313325),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.060833032924035954),
 (18, 0.065033247714309),
 (19, 0.0207703246198632),
 (20, 0.0),
 (21, 0.028239124736245257),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.01749278571353299),
 (26, 0.07024393586862705),
 (27, 0.11707322644771176),
 (28, 0.02913582733740325),
 (29, 0.023174488732966077),
 (30, 0.0),
 (31, 0.05647824947249051),
 (32, 0.020942695414584774),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.12824729401064427),
 (37, 0.026315789473684213),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.06882472016116853),
 (42, 0.0),
 (43, 0.07098727864204515),
 (44, 0.03244428422615251),
 (45, 0.047324852428030105),
 (46, 0.07509392614826384),
 (47, 0.13290606860251747),
 (48, 0.021486752129677003),
 (49, 0.029617443887954616),
 (50, 0.0),
 (51, 0.0207703246198632),
 (52, 0.046829290579084706),
 (53, 0.025976216673306556),
 (54, 0.03181423814878889),
 (55, 0.018986581228931064),
 (56, 0.06243905410544627),
 (57, 0.05195243334661311),
 (58, 0.0),
 (59, 0.02060214108575823),
 (60, 0.02742042485535409),
 (61, 0.07443229275647868),
 (62, 0.0),
 (63, 0.04188539082916955),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.07694837640638656),
 (68, 0.028239124736245257),
 (69, 0.01655665446331305),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.1752191610126156),
 (75, 0.02913582733740325),
 (76, 0.0),
 (77, 0.01391037210186643),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.03797316245786213),
 (82, 0.025649458802128853),
 (83, 0.10390486669322622),
 (84, 0.04223886030955117),
 (85, 0.04916051440083466),
 (86, 0.025976216673306556),
 (87, 0.05647824947249051),
 (88, 0.0582716546748065),
 (89, 0.04219914345985648),
 (90, 0.0),
 (91, 0.0582716546748065),
 (92, 0.04499212706658476),
 (93, 0.0),
 (94, 0.05006261743217589),
 (95, 0.06952346619889822),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (99, 0.028239124736245257),
 (100, 0.0),
 (101, 0.0),
 (102, 0.043747863925980714),
 (103, 0.021677749238103002),
 (104, 0.0),
 (105, 0.025649458802128853),
 (106, 0.0),
 (107, 0.02249606353329238),
 (108, 0.09176629354822471),
 (109, 0.0),
 (110, 0.0),
 (111, 0.05407380704358751),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.023414645289542353),
 (120, 0.0),
 (121, 0.0),
 (122, 0.02742042485535409),
 (123, 0.04836508334066745),
 (124, 0.022075539284417398),
 (125, 0.03212462831016178),
 (126, 0.024455799402225926),
 (127, 0.039344473768231684),
 (128, 0.0),
 (129, 0.023662426214015053),
 (130, 0.0),
 (131, 0.026315789473684213),
 (132, 0.04783648732349399),
 (133, 0.0),
 (134, 0.0602475233128778),
 (135, 0.0),
 (136, 0.0),
 (137, 0.031968303157112014),
 (138, 0.0),
 (139, 0.0837707816583391),
 (140, 0.023918243661746996),
 (141, 0.07647191129018727),
 (142, 0.0331133089266261),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.016303866268150616),
 (147, 0.0),
 (148, 0.0582716546748065),
 (149, 0.09694584179118516),
 (150, 0.12462194771917919),
 (151, 0.12166606584807191),
 (152, 0.0),
 (153, 0.061806423257274694),
 (154, 0.0),
 (155, 0.0),
 (156, 0.043747863925980714),
 (157, 0.06917144638660747),
 (158, 0.08749572785196143),
 (159, 0.0),
 (160, 0.05619514869490163),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.02782074420373286),
 (167, 0.03244428422615251),
 (168, 0.052631578947368425),
 (169, 0.044151078568834795),
 (170, 0.042973504259354006),
 (171, 0.0),
 (172, 0.03458572319330373),
 (173, 0.022282825891079324),
 (174, 0.025649458802128853),
 (175, 0.0),
 (176, 0.0),
 (177, 0.03244428422615251),
 (178, 0.0),
 (179, 0.03539961627023944),
 (180, 0.0),
 (181, 0.0),
 (182, 0.023414645289542353),
 (183, 0.01769980813511972),
 (184, 0.13518451760896877),
 (185, 0.02666903735313325),
 (186, 0.0),
 (187, 0.0),
 (188, 0.021677749238103002),
 (189, 0.03458572319330373),
 (190, 0.019968076595771794),
 (191, 0.0),
 (192, 0.0),
 (193, 0.042973504259354006),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.06390214842634574),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.028676966733820218),
 (204, 0.025649458802128853),
 (205, 0.0),
 (206, 0.06814662756363819),
 (207, 0.0),
 (208, 0.043355498476206004),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.06282808624375433),
 (214, 0.05564148840746572),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.0),
 (219, 0.0),
 (220, 0.12262786789699316),
 (221, 0.0),
 (222, 0.04588314677411236),
 (223, 0.026315789473684213),
 (224, 0.019529164171612674),
 (225, 0.0),
 (226, 0.0),
 (227, 0.028239124736245257),
 (228, 0.05006261743217589),
 (229, 0.01860807318911967),
 (230, 0.021119430154775586),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.06131393394849658),
 (237, 0.0),
 (238, 0.0415406492397264),
 (239, 0.08913130356431728),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.023174488732966077),
 (244, 0.031219527052723135),
 (245, 0.02742042485535409),
 (246, 0.043355498476206004),
 (247, 0.0),
 (248, 0.0),
 (249, 0.06243905410544627),
 (250, 0.0),
 (251, 0.03627381250550058),
 (252, 0.0),
 (253, 0.04783648732349399),
 (254, 0.025334729596907),
 (255, 0.027036903521793755),
 (256, 0.0),
 (257, 0.04891159880445185),
 (258, 0.0),
 (259, 0.0),
 (260, 0.12262786789699316),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0533380747062665),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.07175473098524099),
 (271, 0.0),
 (272, 0.0),
 (273, 0.021486752129677003),
 (274, 0.04818694246524267),
 (275, 0.0582716546748065),
 (276, 0.0),
 (277, 0.020942695414584774),
 (278, 0.024738534799764674),
 (279, 0.04783648732349399),
 (280, 0.04947706959952935),
 (281, 0.06231097385958959),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.0),
 (287, 0.021119430154775586),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.02913582733740325),
 (295, 0.05407380704358751),
 (296, 0.0),
 (297, 0.023918243661746996),
 (298, 0.0),
 (299, 0.0),
 (300, 0.0978231976089037),
 (301, 0.13290606860251744),
 (302, 0.0),
 (303, 0.0),
 (304, 0.03478392380269825),
 (305, 0.12166606584807191),
 (306, 0.031219527052723135),
 (307, 0.06554735253444621),
 (308, 0.03244428422615251),
 (309, 0.0),
 (310, 0.0),
 (311, 0.09567297464698798),
 (312, 0.05484084971070818),
 (313, 0.08111071056538127),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.106676149412533),
 (323, 0.0),
 (324, 0.0),
 (325, 0.03065696697424829),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.024455799402225926),
 (331, 0.0),
 (332, 0.05923488777590923),
 (333, 0.0),
 (334, 0.025976216673306556),
 (335, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.0),
 (342, 0.07647191129018727),
 (343, 0.021119430154775586),
 (344, 0.02913582733740325),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.0301237616564389),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.03181423814878889),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.02666903735313325),
 (362, 0.027036903521793755),
 (363, 0.04223886030955117),
 (364, 0.0),
 (365, 0.046829290579084706),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0662266178532522),
 (369, 0.0),
 (370, 0.0),
 (371, 0.0),
 (372, 0.02666903735313325),
 (373, 0.1324532357065044),
 (374, 0.0),
 (375, 0.02043797798283219),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.03823595564509363),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0331133089266261),
 (390, 0.0),
 (391, 0.02060214108575823),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.025976216673306556),
 (396, 0.0),
 (397, 0.027036903521793755),
 (398, 0.0),
 (399, 0.024455799402225926),
 (400, 0.0),
 (401, 0.03458572319330373),
 (402, 0.0),
 (403, 0.0),
 (404, 0.03181423814878889),
 (405, 0.0),
 (406, 0.02043797798283219),
 (407, 0.024455799402225926),
 (408, 0.0),
 (409, 0.0),
 (410, 0.025649458802128853),
 (411, 0.0),
 (412, 0.024182541670333724),
 (413, 0.028239124736245257),
 (414, 0.0),
 (415, 0.038778336716474064),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0301237616564389),
 (419, 0.0),
 (420, 0.025334729596907),
 (421, 0.0),
 (422, 0.06765100914917384),
 (423, 0.024455799402225926),
 (424, 0.0),
 (425, 0.06814662756363819),
 (426, 0.0),
 (427, 0.0),
 (428, 0.019529164171612674),
 (429, 0.0),
 (430, 0.05195243334661311),
 (431, 0.0),
 (432, 0.07254762501100118),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.02782074420373286),
 (440, 0.0),
 (441, 0.0),
 (442, 0.0),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.04456565178215865),
 (449, 0.0),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (453, 0.0),
 (454, 0.10390486669322622),
 (455, 0.0),
 (456, 0.046829290579084706),
 (457, 0.0),
 (458, 0.04783648732349399),
 (459, 0.0),
 (460, 0.0),
 (461, 0.11164843913471803),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.0936585811581694),
 (467, 0.023174488732966077),
 (468, 0.0),
 (469, 0.023662426214015053),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.046829290579084706),
 (474, 0.0),
 (475, 0.022075539284417398),
 (476, 0.0331133089266261),
 (477, 0.0),
 (478, 0.0),
 (479, 0.07647191129018727),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.02913582733740325),
 (484, 0.03244428422615251),
 (485, 0.0),
 (486, 0.0),
 (487, 0.06917144638660747),
 (488, 0.037463432463267755),
 (489, 0.0),
 (490, 0.03823595564509363),
 (491, 0.023174488732966077),
 (492, 0.0331133089266261),
 (493, 0.0),
 (494, 0.0),
 (495, 0.10882143751650175),
 (496, 0.022075539284417398),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.020942695414584774),
 (502, 0.12369267399882337),
 (503, 0.0),
 (504, 0.0),
 (505, 0.03539961627023944),
 (506, 0.031219527052723135),
 (507, 0.171894017037416),
 (508, 0.0),
 (509, 0.0),
 (510, 0.05195243334661311),
 (511, 0.0),
 (512, 0.03181423814878889),
 (513, 0.0533380747062665),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.057353933467640436),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.07509392614826384),
 (530, 0.03065696697424829),
 (531, 0.0),
 (532, 0.023174488732966077),
 (533, 0.03244428422615251),
 (534, 0.0),
 (535, 0.02782074420373286),
 (536, 0.051298917604257706),
 (537, 0.0),
 (538, 0.0),
 (539, 0.1748149640244195),
 (540, 0.0),
 (541, 0.02271554252121273),
 (542, 0.0),
 (543, 0.0),
 (544, 0.05923488777590923),
 (545, 0.0),
 (546, 0.03382550457458692),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0967301666813349),
 (550, 0.025334729596907),
 (551, 0.023174488732966077),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.014933692277237474),
 (556, 0.0),
 (557, 0.11128297681493143),
 (558, 0.0),
 (559, 0.0),
 (560, 0.02249606353329238),
 (561, 0.0),
 (562, 0.03244428422615251),
 (563, 0.0),
 (564, 0.07254762501100116),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.08603090020146066),
 (569, 0.0),
 (570, 0.0331133089266261),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.023918243661746996),
 (575, 0.0),
 (576, 0.0),
 (577, 0.0602475233128778),
 (578, 0.023662426214015053),
 (579, 0.08603090020146066),
 (580, 0.0),
 (581, 0.07254762501100116),
 (582, 0.20246457179963143),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.024738534799764674),
 (587, 0.0),
 (588, 0.02666903735313325),
 (589, 0.04783648732349399),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.08111071056538127),
 (596, 0.024455799402225926),
 (597, 0.0),
 (598, 0.03244428422615251),
 (599, 0.052478357140598966),
 (600, 0.023662426214015053),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.023414645289542353),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.0),
 (612, 0.02249606353329238),
 (613, 0.0),
 (614, 0.05564148840746572),
 (615, 0.0),
 (616, 0.02782074420373286),
 (617, 0.0301237616564389),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.03382550457458692),
 (622, 0.023174488732966077),
 (623, 0.0),
 (624, 0.03539961627023944),
 (625, 0.0),
 (626, 0.051298917604257706),
 (627, 0.0),
 (628, 0.07098727864204515),
 (629, 0.023918243661746996),
 (630, 0.0),
 (631, 0.0),
 (632, 0.05407380704358751),
 (633, 0.0),
 (634, 0.02782074420373286),
 (635, 0.07024393586862705),
 (636, 0.0),
 (637, 0.024455799402225926),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0),
 (641, 0.0),
 (642, 0.0),
 (643, 0.05006261743217589),
 (644, 0.0),
 (645, 0.0),
 (646, 0.02666903735313325),
 (647, 0.04783648732349399),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.039344473768231684),
 (654, 0.0),
 (655, 0.0),
 (656, 0.0),
 (657, 0.03627381250550058),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.08447772061910234),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.025976216673306556),
 (667, 0.0),
 (668, 0.0),
 (669, 0.028239124736245257),
 (670, 0.0),
 (671, 0.04947706959952935),
 (672, 0.027036903521793755),
 (673, 0.0),
 (674, 0.023662426214015053),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0),
 (680, 0.0602475233128778),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.08346223261119858),
 (688, 0.023918243661746996),
 (689, 0.0),
 (690, 0.0),
 (691, 0.0),
 (692, 0.11037769642208699),
 (693, 0.0),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.07254762501100116),
 (702, 0.0),
 (703, 0.0),
 (704, 0.04588314677411236),
 (705, 0.0),
 (706, 0.0),
 (707, 0.031219527052723135),
 (708, 0.024182541670333724),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.017914359097500464),
 (731, 0.0),
 (732, 0.0),
 (733, 0.022282825891079324),
 (734, 0.02294157338705618),
 (735, 0.0),
 (736, 0.0),
 (737, 0.04947706959952935),
 (738, 0.0),
 (739, 0.0),
 (740, 0.07509392614826384),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.028239124736245257),
 (747, 0.021873931962990357),
 (748, 0.0),
 (749, 0.0),
 (750, 0.02294157338705618),
 (751, 0.0),
 (752, 0.05564148840746572),
 (753, 0.0),
 (754, 0.05564148840746572),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.024455799402225926),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.021873931962990357),
 (769, 0.0),
 (770, 0.024182541670333724),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.0582716546748065),
 (776, 0.0),
 (777, 0.02271554252121273),
 (778, 0.07175473098524099),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.025031308716087945),
 (783, 0.0),
 (784, 0.0),
 (785, 0.06282808624375433),
 (786, 0.0),
 (787, 0.08471737420873576),
 (788, 0.02666903735313325),
 (789, 0.03244428422615251),
 (790, 0.046348977465932154),
 (791, 0.03382550457458692),
 (792, 0.0),
 (793, 0.0),
 (794, 0.03382550457458692),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.037463432463267755),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.02294157338705618),
 (804, 0.024455799402225926),
 (805, 0.0),
 (806, 0.025031308716087945),
 (807, 0.02742042485535409),
 (808, 0.040555355282690636),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.044151078568834795),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.0),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.03181423814878889),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.02666903735313325),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0),
 (832, 0.0),
 (833, 0.0),
 (834, 0.0),
 (835, 0.025649458802128853),
 (836, 0.0),
 (837, 0.02913582733740325),
 (838, 0.12166606584807191),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0),
 (843, 0.057353933467640436),
 (844, 0.03181423814878889),
 (845, 0.0),
 (846, 0.0),
 (847, 0.05669340548770634),
 (848, 0.019672236884115842),
 (849, 0.0),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.0533380747062665),
 (855, 0.0582716546748065),
 (856, 0.023174488732966077),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.03166237934306518),
 (862, 0.0),
 (863, 0.02913582733740325),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.0),
 (869, 0.0),
 (870, 0.0),
 (871, 0.028239124736245257),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.02742042485535409),
 (876, 0.0),
 (877, 0.0),
 (878, 0.03065696697424829),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.025031308716087945),
 (884, 0.025334729596907),
 (885, 0.05564148840746572),
 (886, 0.0),
 (887, 0.03604920469572501),
 (888, 0.0),
 (889, 0.050464733268936676),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.028676966733820218),
 (895, 0.0),
 (896, 0.0),
 (897, 0.043355498476206004),
 (898, 0.025031308716087945),
 (899, 0.028239124736245257),
 (900, 0.05484084971070818),
 (901, 0.05923488777590923),
 (902, 0.0),
 (903, 0.029617443887954616),
 (904, 0.0),
 (905, 0.0),
 (906, 0.02742042485535409),
 (907, 0.0),
 (908, 0.05006261743217589),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0602475233128778),
 (932, 0.0),
 (933, 0.025334729596907),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.03244428422615251),
 (938, 0.0),
 (939, 0.043747863925980714),
 (940, 0.0),
 (941, 0.0),
 (942, 0.09037128496931669),
 (943, 0.0),
 (944, 0.0),
 (945, 0.0331133089266261),
 (946, 0.025031308716087945),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.03627381250550058),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.0),
 (963, 0.024455799402225926),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.0),
 (972, 0.08740748201220976),
 (973, 0.0936585811581694),
 (974, 0.012441815044835986),
 (975, 0.012441815044835986),
 (976, 0.0331133089266261),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.02294157338705618),
 (983, 0.0),
 (984, 0.0),
 (985, 0.0),
 (986, 0.0),
 (987, 0.0),
 (988, 0.05564148840746572),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.046829290579084706),
 (998, 0.0),
 (999, 0.0),
 ...]

In [48]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key = lambda x:x[1])[1:6]
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [49]:
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman
Batman v Superman: Dawn of Justice

In [50]:
import pickle

In [55]:
pickle.dump(similarity, open('sim.pkl', 'wb'))

In [1]:
!pip install bz2file

Collecting bz2file
  Downloading bz2file-0.98.tar.gz (11 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: bz2file
  Building wheel for bz2file (setup.py): started
  Building wheel for bz2file (setup.py): finished with status 'done'
  Created wheel for bz2file: filename=bz2file-0.98-py3-none-any.whl size=6889 sha256=e926f729c7b3a55518d371a810cc48e9215186fdfe3959049762dfc355011285
  Stored in directory: c:\users\acer\appdata\local\pip\cache\wheels\69\ee\f7\6fccd10cb65421ba2da64fa6caf8ee7fbae0059884af8c8587
Successfully built bz2file
Installing collected packages: bz2file
Successfully installed bz2file-0.98

WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\acer\.conda\envs\rl_course\lib\site-packages)

In [51]:
import bz2file as bz2

In [53]:
def compressed_pickle(title, data):

    with bz2.BZ2File(title + '.pbz2', ‘w’) as f:
        pickle.dump(data, f)

SyntaxError: invalid character '‘' (U+2018) (3797937667.py, line 3)